td{
	border:dotted 1px black;
	padding:5px;
	
	
}
/* 8888ghsdkjfgshdfg */
	

.pane{padding:100px 0px 100px 0px}

.top-navigation div {position:absolute;}


#pane-1{background: white;
background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 78%, rgba(221, 221, 221, 1) 95%, rgba(196, 196, 196, 1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(78%,rgba(255, 255, 255, 1)), color-stop(95%,rgba(221, 221, 221, 1)), color-stop(100%,rgba(196, 196, 196, 1)));
background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 1) 78%,rgba(221, 221, 221, 1) 95%,rgba(196, 196, 196, 1) 100%);
background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 1) 78%,rgba(221, 221, 221, 1) 95%,rgba(196, 196, 196, 1) 100%);
background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 1) 78%,rgba(221, 221, 221, 1) 95%,rgba(196, 196, 196, 1) 100%);
background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 1) 78%,rgba(221, 221, 221, 1) 95%,rgba(196, 196, 196, 1) 100%);
border-bottom: solid 1px #D4D4D4;

margin-bottom:0px;height:500px;/*-moz-box-shadow: 3px 3px 4px #000;-webkit-box-shadow: 3px 3px 4px #000;box-shadow: 3px 3px 4px #000;*/}
#pane-1 h1{margin-left:80px;padding-top:200px;z-index:5}


.link{cursor:pointer;text-decoration:none;color:#83bc78}
.link a{color:rgb(70, 70, 70)}
.green{color:#83bc78}
.green:hover{color:#83bc78}



.pane-1-content{height:200px;}
.pane-1-content h1 {position:relative;z-index:55;}
#green-link{position:relative;z-index:55;}


#pane-1-tagline{margin-left:388px}

/*.faded-top{position:fixed;width:100%;height:145px;background:  url('../img/top-nav-bg.png') repeat-x} */
.drop-shadow{background: rgb(121, 121, 121);
width: 100%;
height: 5px;
position: relative;
top: 0px;
z-index:-10;
}
.green-bg{background-color:#83BC78;}
.email-form-content textarea,.email-form-content input{width:400px;}

@import url(http://fonts.googleapis.com/css?family=Londrina+Sketch);

/* Global */
body {padding: 0px;margin:0px;}

::selection{background: black;color: white;text-shadow: none;}

/* Text */ 
p,li {font-family: 'Helvetica', sans-serif;color: #484848;font-size: 26px;font-weight: 300;line-height: 35px;letter-spacing: -1px;}
p .large-text{font-size: 32px;margin: 0 0 37px 0;line-height: 0;letter-spacing: -1px;font-weight:bold}
li{list-style:none;font-size:20px;}
/*.link p{font-size:1.5em} */
h1,h2,h3,h4{font-size:26px;color:#484848;text-shadow: 3px 3px 2px lightGrey; }
h1{font-size:40px;color:#484848;;text-shadow: 3px 3px 3px lightGrey;margin-top:30px; }
h4{font-size:20px}
a:hover{text-decoration:none;}


/* Containers */

.pane{}
.pane-1{padding:100px 0px 300px 0px}	
.pane-2{height:400px;}
.pane-3{height:600px;padding: 10px 0px;background:#DFDFDF}
.pane-jobs{padding:150px 200px}
.top-navigation{background: #F0F0F0;width:100%;position:fixed;padding:0px 0px;height:100px;z-index:1;opacity:0.9}
.top-navigation .link {margin-top:32px}
.footer-navigation{background:green;width:100%;position:absolute;padding:0px 0px;height:100px;z-index:1;}
.footer-navigation .link {margin-top:0px}



#nav-overlay{background:red;z-index:5;width:100%;position:fixed;padding:0px 0px;height:100px;}
#nav-logo{margin-left:80px;}
#nav-green{left:605px;}
#nav-jobs{left:725px;}
#nav-green p{color:#83bc78;}
#nav-clientlogin{left:970px;}
#nav-contact{left:837px;}

.content-row{border:solid 0px red;height:373px}
.col-r{float:right;width:40%;}
.col-l{float:left;width:40%;}
.content-row .cnt{padding:0px 5%; width:40%;}
.content-row .img{padding:0px 20px}
.data-image{}
	
.contact-container{	width: 383px;margin: 0 auto;}

.giant-button {
	background-color:#D3F3CD;;
	height:300px;
	width:300px;
	border-radius:8px;
	box-shadow:2px 4px 0px 2px #16460D;
	border: solid #16460D 1px;
	cursor:pointer;
	padding:35px;
}
.giant-button:active {
	background-color:#B4EEA9;
	box-shadow:inset 0px 0px 0px 0px black;
	margin:12px 0px 0px 2px;
	border: solid #16460D 3px;	
}
.giant-button:hover {
	background-color:#B4EEA9;
}

.tooltip-inner {
font-size:15px;
max-width: 120px;
padding: 9px 15px;
color: white;
text-align: center;
background-color: black;
}
/* custom contact form */ 

	.input-container{position: relative;top:-330px;left:30px;
	height:300px;
	width:300px;
	border-radius:8px;
}
	
	.input-container input{width:286px;border-radius:5px}
	.input-container textarea{width:286px;height:208px;resize: none;border-radius:5px}
	.input-container form{width:100px;}
	.disclaimer{color: #484848;font-size: 14px;letter-spacing: 0px;width: 224px;height:0px}
		