@font-face {
	font-family: "Junction";
	src: url("Junction-webfont.eot");
	src: url('Junction-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('Junction-webfont.woff') format('woff'), 
	     url('Junction-webfont.ttf')  format('truetype'),
	     url('Junction-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

td{
	border:dotted 1px black;
	padding:5px;
	
	
}
/* 8888ghsdkjfgshdfg */
	

.pane{padding:100px 0px 100px 0px;
	
	background: white;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 78%, rgba(221, 221, 221, 1) 95%, rgba(196, 196, 196, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(78%,rgba(255, 255, 255, 1)), color-stop(95%,rgba(221, 221, 221, 1)), color-stop(100%,rgba(196, 196, 196, 1)));
	/* fixed it so this is the real one */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 1) 78%,rgba(228, 228, 228, 1) 95%,rgba(224, 224, 224, 1) 100%);

	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 1) 78%,rgba(221, 221, 221, 1) 95%,rgba(196, 196, 196, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 1) 78%,rgba(221, 221, 221, 1) 95%,rgba(196, 196, 196, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 1) 78%,rgba(221, 221, 221, 1) 95%,rgba(196, 196, 196, 1) 100%);
	border-bottom: solid 1px #BBBBBB;
	
	}
	

.top-navigation div {position:absolute;}

#pane-1{margin-bottom:0px;height:750px;}

.link{cursor:pointer;text-decoration:none;color:#83bc78;font-weight:bold}
.link a,.link p{color:#464646;}
.green{color:#83bc78;font-weight:bold}
.green:hover{color:#83bc78;}


/* Global */
body {padding: 0px;margin:0px;background-color:#303030;}
::selection{background: black;color: white;text-shadow: none;}

/* Text */ 

h1,h2,h3,h4,p,li{font-size:100px;color:red;font-family: 'Junction' , fallback }
h1{font-size:40px;color:#484848;margin-top:30px; }
h2{font-size:50px;color:#FFF}
h3{font-size:30px;color:#333333}
h4{font-size:20px;color:#333}
p{color:#C3C7C4;font-size:20px;line-height:24px}
li{list-style:none;font-size:20px;color:#333;line-height:29px}

a:hover{text-decoration:none;}


/* Containers */

.pane{}

.pane-1-content{float:left;margin:200px 0px 0px 130px;width:460px}
.pane-1-content .main-logo {float:left;width: 283px;
height: 81px;}
.pane-1-content .main-tagline {width:145px;float:right;margin:18px 0px 0px 30px}
.uncover-more{float: left;
	position: absolute;
	left: 470px;
	top: 550px;
	cursor:pointer;

}
.pane-2{height:625px;background:#333;}
.pane-2-content{width:1100px;margin:0 auto;background:#333;}

.pane-3{height:600px;padding: 100px 0px;background:white}
.pane-jobs{padding:150px 200px}
.top-navigation{position:fixed;padding:0px 0px;height:83px;z-index:1;opacity:0.9}
.top-navigation .link {margin-top:32px}
#nav{background: #F0F0F0;width:100%;}

.footer-navigation{width:100%;background:#333333;position:absolute;padding:10px 0px;height:40px;z-index:1;}
.footer-content{width:400px;margin:0 auto}
.footer-navigation li {margin:0px 10px;float:left}
.footer-navigation li a{color:#C3C7C4}

.pane-2 div{border:solid 0px black}


#nav-overlay{background:red;z-index:5;width:100%;position:fixed;padding:0px 0px;height:100px;}
#nav-logo{margin-left:130px;cursor:pointer}
#nav-green{left:526px;}
#nav-jobs{left:676px;}
#nav-green p{color:#83bc78;}
#nav-clientlogin{left:970px;}
.nav-contact{left:800px;}

.content-row{border:solid 0px red;height:360px;}
.col-r{float:right;width:500px;}
.col-l{float:left;width:500px;}
.content-row .cnt{padding:0px;}
.content-row .img{padding:0px}
.content-row .img img {position:relative}
.content-row .img .dev {margin-left:-150px}
.content-row .img .design {margin-left:-160px}
.content-row .img .ux {position:relative}

.content-row li{float: left;margin: 10px 40px 10px 40px;cursor:pointer;}
.graph{position:absolute}
.graph-question{cursor:pointer;width:25px;height:25px;border:solid 0px blue; top:116px;left:145px;position:relative;float:left}
.contact-container{	width: 500px;margin: 0 auto;border:solid 1px green;}


/* custom contact form */ 

	.contact-container{padding:20px;box-shadow: 10px 10px 0px #19AD19;}
	.input-container input{width: 480px;border-radius: 0px;margin: 10px 0px;border:solid 1px black}	
	.input-container textarea{width: 480px;height: 150px;resize: none;border-radius:0px;margin: 10px 0px;border:solid 1px black}
	.input-container input[type=button]{background:white;width: 140px;height: 30px;border:solid 1px green}
	.disclaimer{color: #484848;font-size: 14px;letter-spacing: 0px;width: 224px;height:0px}
	
	
		
		
		
@media only screen and (max-device-width: 480px) {	
	
	body{background:white}
	h1,h2,h3,h4,p,li{font-family: 'Helvetica' }
	
	.pane-2 {height:1000px;background-color:#333;width:1100px};
}		
		
